.area {
    position: absolute;
    top: 25px;
    width: 1160px;
    background-color: #1f2833;
    padding: 15px 20px;
    word-spacing: 5px;
}

.area > a {
    font-weight: bold;
    color: #66FCF1;
}